---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     16px;

$background-color: #FFFFFF;
$brand-color:      #FB3449;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "fonts",
        "syntax-highlighting"
;
