---
layout: default
---

<div class="home">
  <svg width="49px" height="36px" viewBox="0 0 49 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Billy_Website_Desktop" transform="translate(-14.000000, -16.000000)" fill="#FFFFFF">
            <path d="M14.1741,16.1729 L14.1741,24.2949 L18.2901,24.2949 L18.2901,43.1899 L14.1731,43.1899 L14.1731,51.3119 L56.9291,51.3119 L62.4901,45.7929 L62.4901,38.5679 L57.6191,33.7329 L62.4901,28.8969 L62.4901,21.6929 L56.9291,16.1729 L14.1741,16.1729 Z M28.8571,24.2949 L50.7731,24.2949 L51.8191,25.3359 L51.8191,29.5569 L50.7291,30.6479 L28.8571,30.6479 L28.8571,24.2949 Z M28.8571,36.8379 L50.7371,36.8379 L51.8191,37.9309 L51.8191,42.0999 L50.7351,43.1899 L28.8571,43.1899 L28.8571,36.8379 Z" id="Fill-5"></path>
        </g>
    </g>
  </svg>
</div>
