<header class="site-header">

  <div class="wrapper">
    <input type="checkbox" id="rotate">

    <label for="rotate" id="display" class="crossRotate">
      <svg class="icon" width="32px" height="31px" viewBox="0 0 32 31" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs></defs>
          <rect id="Rectangle" stroke="none" fill="#FFFFFF" fill-rule="evenodd" x="15" y="0" width="2" height="31"></rect>
          <rect id="Rectangle-Copy" stroke="none" fill="#FFFFFF" fill-rule="evenodd" transform="translate(16.000000, 15.500000) rotate(-90.000000) translate(-16.000000, -15.500000) " x="15" y="0" width="2" height="31"></rect>
      </svg>
    </label>
  </div>

<div id="display-info" class="info">
  <ul class="panel-info">
    <li>
      <h1>ABOUT</h1><br>
      <h2>Billy is an American inspired Café facing the iconic views of the Auckland Domain and War Museum.<br><br>Open on weekdays from 7:00am to 3:30pm and Saturdays from 8:30am to 3:30pm. Closed on Sundays.</h2><br><!--Discover our  avours, download menu below<br>
      <a href="/"><img src="/assets/img/arrow.png" width="13px">Food Menu</a>--></li>
    <li><h1>CONTACT</h1><br><a href="https://www.google.co.nz/maps/place/79+Carlton+Gore+Rd,+Newmarket,+Auckland+1023/@-36.864932,174.7706999,17z/data=!3m1!4b1!4m5!3m4!1s0x6d0d47df6764bf8b:0xb156d338101cd053!8m2!3d-36.864932!4d174.7728886" target="_blank" rel="noopener noreferrer">79 Carlton Gore<br>Newmarket<br>Auckland 1023</a><br><br>
    <a href="mailto:billycafeauckland@gmail.com" target="_blank" rel="noopener noreferrer">billycafeauckland@gmail.com</a><br>+64 (09) 3020995<br><br><a href="https://instagram.com/billy_cafe" target="_blank" rel="noopener noreferrer">Instagram</a><!--<br><a href="https://www.facebook.com/billybillycafe" target="_blank" rel="noopener noreferrer">Facebook</a>--></li>
  </ul>

  <div class="billy-wrapper">
    <svg width="1082px" height="170px" viewBox="0 0 1082 170" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
          <polygon id="path" points="116.7045 170 0.06 170 0.06 0.297 116.7045 0.297 233.349 0.297 233.349 170"></polygon>
      </defs>
      <g id="Billy_Wordmark_RGB" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="billy">
              <mask id="mask" fill="white">
                  <use xlink:href="#path"></use>
              </mask>
              <g id="cafe"></g>
              <path d="M181.813,105.38 L181.813,125.511 L176.574,130.775 L70.913,130.775 L70.913,100.096 L176.583,100.096 L181.813,105.38 Z M70.913,70.202 L70.913,39.522 L176.761,39.522 L181.813,44.548 L181.813,64.933 L176.547,70.202 L70.913,70.202 Z M0.005,0.297 L0.005,39.522 L19.882,39.522 L19.882,130.775 L0,130.775 L0,170 L206.493,170 L233.349,143.345 L233.349,108.453 L209.821,85.1 L233.349,61.747 L233.349,26.952 L206.493,0.297 L0.005,0.297 L0.005,0.297 Z" id="Fill-1" fill="#FB3449" mask="url(#mask-2)"></path>
          </g>
          <polyline id="Fill-4" fill="#FB3449" points="253.227 39.522 308.918 39.522 308.918 130.775 253.227 130.775 253.227 170 419.587 170 419.587 130.775 364.615 130.775 364.615 39.522 419.587 39.522 419.587 0.297 253.227 0.297 253.227 39.522"></polyline>
          <polyline id="Fill-5" fill="#FB3449" points="980.174 0.297 980.174 39.898 995.901 39.898 964.439 70.945 932.976 39.898 948.703 39.898 948.703 0.297 847.525 0.297 847.525 39.898 873.178 39.898 936.536 103.152 936.536 130.775 889.975 130.775 889.975 170 1038.9 170 1038.9 130.775 992.341 130.775 992.341 103.152 1055.73 39.898 1081.35 39.898 1081.35 0.297 980.174 0.297"></polyline>
          <polyline id="Fill-6" fill="#FB3449" points="589.161 130.775 530.233 130.775 530.233 39.522 565.327 39.522 565.327 0.297 439.465 0.297 439.465 39.522 474.537 39.522 474.537 130.775 439.465 130.775 439.465 170 644.82 170 644.82 98.157 589.161 98.157 589.161 130.775"></polyline>
          <polyline id="Fill-7" fill="#FB3449" points="819.059 130.775 755.466 130.775 755.466 39.522 790.56 39.522 790.56 0.297 664.698 0.297 664.698 39.522 699.77 39.522 699.77 130.775 664.698 130.775 664.698 170 870.053 170 870.053 98.157 819.059 98.157 819.059 130.775"></polyline>
      </g>
    </svg>
  </div>
</div>

<div class="tab-wrap">
  <p>Billy is an American inspired Café facing the iconic views of the Auckland Domain and War Museum.<br><br>
Open on weekdays from 7:00am to 3:30pm and Saturdays from 8:30am to 3:30pm. Closed on Sundays.</p>
</div>
</header>