/**
 * Site header
 */
.site-header {

    #display-info{
        display: none;
        -webkit-backface-visibility: hidden;
        z-index: 777;
    }
    .info{

        position: absolute;
        z-index: 222;
        background: $background-color;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        color: $brand-color;
        padding: $spacing-unit;
        -webkit-backface-visibility: hidden;

        ul.panel-info{

            margin: 0;
            li{
                display: inline-block;
                list-style: none;
                width: 24%;
                padding-right: 5%;
                vertical-align: top;
                font-size: 1.2em;
                line-height: 1.3em;

                &:first-child{
                    width: 25%;
                }

                & img{
                    width: 13px;
                    height: 16px;
                    vertical-align: text-top;
                }

                h1, h2{
                    font-size: 1em;
                    margin-bottom: 0;
                }

                a, a:visited{
                    color: $brand-color;
                    text-decoration: none;
                }
            }
        }
    }

    .wrapper{

        position: absolute;
        top: 0;
        right: 0;
        left: inherit;
        width: 30px;
        height: 30px;
        z-index: 999;
        padding-top: $spacing-unit;

        #rotate{
            display: none;
        }

        label {
          display: inline-block;
        }

        label.crossRotate {
          -webkit-transition-duration: 1s;
          -moz-transition-duration: 1s;
          -ms-transition-duration: 1s;
          -o-transition-duration: 1s;
          transition-duration: 1s;

          -webkit-transition-property: -webkit-transform;
          -moz-transition-property: -moz-transform;
          -ms-transition-property: -ms-transform;
          -o-transition-property: -o-transform;
          transition-property: transform;
        }

        #rotate:checked + label.crossRotate {

            #Rectangle, #Rectangle-Copy{
                fill: $brand-color;
            }
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        svg.icon{

            outline: 0;
            cursor: pointer;

            &:focus {
                -webkit-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
                -webkit-transition-duration: 1s;
                -moz-transition-duration: 1s;
                -o-transition-duration: 1s;
                transition-duration: 1s;
                -webkit-transition-property: -webkit-transform;
                -moz-transition-property: -moz-transform;
                -o-transition-property: -o-transform;
                transition-property: transform;
            }
        }
    }
}

.tablet-billy{
    display: none;
}

html, body {
      width: 100%;
      height: 100%;
      overflow:hidden; // to avoid scrollbars
}

ul.royalSlider{
    margin: 0;
    padding: 0;
}

.royalSlider {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

.royalSlider .rsSlide{
    background: #ffffff !important;
}

.royalSlider img{
    position: absolute;
    top: -14%;
}

/**
 * Page content
 */
.page-content {
    /*position: absolute;
    background: url('/assets/img/billy-cafe.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;*/
}

@media screen and (max-width: 840px) {
    html, body{
        height: 100%;
    }
    body .royalSlider{
        display: none !important;
    }
    body .site-header{
        position: relative;
        height: 100%;
        background: $brand-color;

        /*#Rectangle, #Rectangle-Copy{
            fill: $brand-color;
        }*/

        .tab-wrap{
            position: absolute;
            bottom: 16px;
            padding: 64px $spacing-unit 0;
            font-size: 24px;
            line-height: 1.3em;
            letter-spacing: 0.04rem;
            & svg{
                width: 100%;
                height: 100%;
            }
        }

        .info{

            ul.panel-info li{

                font-size: 0.8em;
                padding-right: 2%;
                padding-bottom: 2em;
                line-height: 1.28em;
                width: 100%;
                &:first-child{
                    display: none;
                }
                &:nth-child(2){
                    float: left;
                    font-size: 24px;
                    letter-spacing: 0.04rem;
                }
            }
        }

        .billy-wrapper{
            padding-bottom: 10px;
            
            svg{
                height: 100%;
            }
        }

        svg.tablet-billy{
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    body .page-content{
        top: inherit;
        height: 35%;

        /*svg{
            display: none;
        }*/
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    html, body{
        height: 100%;
    }
    body .royalSlider{
        position: inherit !important;
    }
    body .site-header{
        position: relative;
        height: 50%;

        #Rectangle, #Rectangle-Copy{
            fill: $brand-color;
        }

        .tab-wrap{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: $spacing-unit;
            & svg{
                width: 100%;
                height: auto;
            }
        }

        .info{
            ul.panel-info li{

                font-size: 0.9em;
                width: 16%;
                padding-right: 2%;
                &:first-child{
                    width: 38%;
                }
                &:last-child{
                    width: 8%;
                }
            }
        }

        .billy-wrapper{
            padding-bottom: 10px;
            
            svg{
                height: 100%;
            }
        }

        svg.tablet-billy{
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    body .page-content{
        top: inherit;
        height: 50%;

        svg{
            display: none;
        }
    }
}

@media only screen and (min-width : 1480px){
    body .site-header {
        .info{
            ul.panel-info{
                li{
                    width: 30%;
                    font-size: 1.6em;
                    &:first-child{
                        width: 26%;
                    }
                }
            }
        }
    }
}