<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">

    <ul class="royalSlider rsDefault">
		<li>
			<img src="/assets/img/billy-cafe-1.jpg">
		</li>
		<li>
			<img src="/assets/img/billy-cafe-2.jpg">
		</li>
		<li>
			<img src="/assets/img/billy-cafe-4.jpg">
		</li>
        <li>
            <img src="/assets/img/billy-cafe-5.jpg">
        </li>
	</ul>

      <div class="wrapper">
        {{ content }}
      </div>
    </div>

  </body>
  <script>
    jQuery(document).ready(function($) {
        $(".royalSlider").royalSlider({
        	autoScaleSlider: false,
        	autoHeight: false,
        	arrowsNav: false,
            controlNavigation: 'none',
            keyboardNavEnabled: true,
            slidesSpacing: 0,
            usePreloader: false,
            transitionSpeed: 800,
            fadeinLoadedSlide: true,
            transitionType: 'fade',
            sliderDrag: false,
            loop: true,
            loopRewind: false,
            autoPlay: {
    			enabled: true,
    			pauseOnHover: false,
    			stopAtAction: false,
    			delay: 4000
    		}
        });  
    });
</script>
</html>
